/* body */
*{
    box-sizing: border-box;
}

body{
    font-family: poppins;
    margin: 0%;
}

/* Header */
header, h1{
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 28, 32);
}

/* Building nav + dropdown menu */

/* nav-bar container set-up */
#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li{
    display: inline-block;
    padding: 10px;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:nth-child(2):hover .drop-down, .menu li:nth-child(3):hover .drop-down{
    display: block;
}

.drop-down{
    position: absolute;
    width: auto;
    max-width: 150px;
    padding: 0%;
    background-color: whitesmoke;
    top: 38px;
    display: none;
}

.drop-down li{
    display: block;

}

.drop-down li:hover{
    background-color: gainsboro;
}

.drop-down li a{
    color: steelblue;
}
/* Building nav + dropdown menu --End--*/

/* creating slider for animated images */
.slider{
    width: 60%;
    height: 400px;
    background-image: url(../Images/Animation/ani1.jpg);
    background-size: 100% 100%;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid steelblue;
    animation: changeImage 15s linear infinite;
}

@keyframes changeImage{
    0%{
        background-image: url('../Images/Animation/ani1.jpg');
    }
    25%{
        background-image: url('../Images/Animation/ani2.png');
    }
    50%{
        background-image: url('../Images/Animation/ani3.jpg');
    }
    75%{
        background-image: url('../Images/Animation/ani4.jpg');
    }
    100%{
        background-image: url('../Images/Animation/ani5.jpg');
    }
}    

/* sections */
.product-section{
    width: 100%;
    min-height: 100vh;

}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.cards .heading{
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
}

.heading h2{
    margin-left: 10px;
    text-align: left;
    font-size: 50px;
    letter-spacing: 3px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image-section{
    width:100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img{
    width: 100%;
    height: auto;
}

.button button{
    width: 90%;
    font-weight: bold;
    color: goldenrod;
    border: 1px solid steelblue;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.button button:active{
    background-color: rgb(250, 234, 230) ;
    border: 1px solid rgb(0, 255, 76);
}

.prod-name{
    text-align: left;
    margin: auto;
    padding: 10px;
    transform: translateX(-87px);
}

.description>p{
    text-align: left;
    margin-left: 9%;
}

.card:hover{
    transform: scale(1.1);
}

/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    line-height: 5;
}