/* body */
body{
    font-family: poppins;
    margin: 0%;
}

/* Header */
header, h1{
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 28, 32);
}

/* Building nav + dropdown menu */

/* nav-bar container set-up */
#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li{
    display: inline-block;
    padding: 10px;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:nth-child(2):hover .drop-down, .menu li:nth-child(3):hover .drop-down{
    display: block;
}

.drop-down{
    position: absolute;
    width: auto;
    max-width: 150px;
    padding: 0%;
    background-color: whitesmoke;
    top: 38px;
    display: none;
}

.drop-down li{
    display: block;

}

.drop-down li:hover{
    background-color: gainsboro;
}

.drop-down li a{
    color: steelblue;
}
/* Building nav + dropdown menu --End--*/

/* creating slider for animated images */
.slider{
    width: 60%;
    height: 400px;
    background-image: url(../Images/Animation/ani1.jpg);
    background-size: 100% 100%;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid steelblue;
    animation: changeImage 15s linear infinite;
}

@keyframes changeImage{
    0%{
        background-image: url('../Images/Animation/ani1.jpg');
    }
    25%{
        background-image: url('../Images/Animation/ani2.png');
    }
    50%{
        background-image: url('../Images/Animation/ani3.jpg');
    }
    75%{
        background-image: url('../Images/Animation/ani4.jpg');
    }
    100%{
        background-image: url('../Images/Animation/ani5.jpg');
    }
}    


/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    line-height: 5;
}