/* body */
body{
    font-family: poppins;
    margin: 0%;
}

/* Header */
header, h1{
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 28, 32);
}

/* Building nav + dropdown menu */

/* nav-bar container set-up */
#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li{
    display: inline-block;
    padding: 10px;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:nth-child(2):hover .drop-down, .menu li:nth-child(3):hover .drop-down{
    display: block;
}

.drop-down{
    position: absolute;
    width: auto;
    max-width: 150px;
    padding: 0%;
    background-color: whitesmoke;
    top: 39px;
    display: none;
}

.drop-down li{
    display: block;

}

.drop-down li:hover{
    background-color: gainsboro;
}

.drop-down li a{
    color: steelblue;
}

/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    line-height: 5;
}